@import './variable.scss';

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexDirectionColumn {
  display: flex;
  flex-direction: column;
}

@mixin fillInput {
  align-self: stretch;
  height: 56px;
  padding-left: 16px;
  border: 1px solid $Grey88;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  &:focus {
    border: 2px solid $Black;
  }
}

@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin container {
  width: 576px;
  height: 844px;
  border: 1px solid $Grey60;
  border-radius: 15px;
}

@mixin blueButton {
  height: 56px;
  margin-top: 16px;
  border: none;
  outline: 0;
  border-radius: 6px;
  font-weight: 800;
  font-size: 18px;
  line-height: normal;
  background-color: $Blue;
  color: $White;
  cursor: pointer;

  &:hover {
    background-color: $Navy;
  }
}
