@import '../../styles/variable.scss';

.backButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  height: 40px;
  margin-left: 16px;
  font-weight: 500;
  font-size: 25px;
  color: $Black;
  text-decoration-line: none;
}
