@import '../../../styles/mixin.scss';

.productEdit {
  @include flexCenter;
  width: 100%;
  height: 100vh;

  .productEditBody {
    @include flexDirectionColumn;
    align-items: center;
    width: 576px;
    height: 878px;
    padding: 40px 0px;
    border: 1px solid $Grey60;
    border-radius: 16px;
    background: $White;

    .inputForm {
      width: 100%;
      height: 798px;
      padding: 0px 24px;

      .publish {
        display: flex;
        width: 528px;
        height: 718px;

        .container {
          display: flex;
          width: 100%;

          .profileImg {
            width: 48px;
            height: 48px;
            margin-right: 24px;

            .image {
              flex-shrink: 0;
              width: 48px;
              height: 48px;
              border-radius: 48px;
              stroke-width: 1px;
              stroke: $Grey88;
            }
          }

          .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 456px;
            height: 686px;
            gap: 8px;

            .nickname {
              display: flex;
              font-weight: 700;
              font-size: 20px;
              line-height: normal;
              color: #000;
            }

            .textArea {
              @include flexDirectionColumn;
              align-items: center;
              overflow: hidden;
              resize: none;
              width: 456px;
              height: 654px;
              padding: 15px 0 617px 16px;
              border: 1px solid $Grey88;
              border-radius: 6px;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;

              &:focus {
                border: 2px solid $Black;
              }
            }
          }
        }
      }

      .btnBox {
        width: 528px;
        height: 80px;
        padding-top: 24px;
        border-top: 1px solid $Grey88;

        .button {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
